<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Med type #<%= @med_type.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/med_types" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <!-- Edit link med_type start -->
      <div class="col">
        <a href="/med_types/<%= @med_type.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit med type
        </a>
      </div>
      <!-- Edit link med_type end -->

      <!-- Delete link med_type start -->
      <div class="col">
        <a href="/delete_med_type/<%= @med_type.id %>" class="btn btn-block btn-outline-secondary">
          Delete med type
        </a>
      </div>
      <!-- Delete link med_type end -->
    </div>

    <dl>
      <dt>
        Name
      </dt>
      <!-- Display name start -->
      <dd>
        <%= @med_type.name %>
      </dd>
      <!-- Display name end -->

      <dt>
        Created at
      </dt>
      <!-- Display created_at start -->
      <dd>
        <%= time_ago_in_words(@med_type.created_at) %> ago
      </dd>
      <!-- Display created_at end -->

      <dt>
        Updated at
      </dt>
      <!-- Display updated_at start -->
      <dd>
        <%= time_ago_in_words(@med_type.updated_at) %> ago
      </dd>
      <!-- Display updated_at end -->
    </dl>
  </div>
</div>

<!-- Show Page Customization starts -->

<!-- Show Page Customization end -->
