<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      Medication List
    </h1>

    <a href="/medications/new" class="btn btn-block btn-outline-secondary">
      Add a new medication
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12 mb-3">
    <%= render partial: "medication_templates/medications_search_form" %>
  </div>
</div>



<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          Medication name
        </th>
        <th>
          Dosage
        </th>
        <th>
          Medication type
        </th>

        <th>
        </th>
      </tr>

      <% @medications.each do |medication| %>
      <tr>
        <td>
          <%= medication.name %>
        </td>
        <td>
          <%= medication.dosage %>
        </td>
        <td>
          <% if medication.med_type.present? %>
            <a href="/med_types/<%= medication.med_type.id %>">
              <%= medication.med_type.name %>
            </a>
          <% end %>
        </td>

        <td>
          <a href="/medications/<%= medication.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>

    <div class="row mb-3">
      <div class="col-md-12">
        <%= paginate @medications, theme: "twitter-bootstrap-4" %>
      </div>
    </div>

  </div>
</div>
