<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      <%= @medication.name %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/medications" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/medications/<%= @medication.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit medication
        </a>
      </div>

      <div class="col">
        <a href="/delete_medication/<%= @medication.id %>" class="btn btn-block btn-outline-secondary">
          Delete medication
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Medication name
      </dt>
      <dd>
        <%= @medication.name %>
      </dd>
      
      <dt>
        Dosage
      </dt>
      <dd>
        <%= @medication.dosage %>
      </dd>

      <dt>
        Medication type
      </dt>
      <dd>
        <% if @medication.med_type.present? %>
          <a href="/med_types/<%= @medication.med_type_id %>">
            <%= @medication.med_type.name %>
          </a>
        <% end %>
      </dd>

      <dt>
        Last updated
      </dt>
      <dd>
        <%= time_ago_in_words(@medication.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>
