<form action="/create_encounter_from_patient" method="post">
  
  <input type="hidden" name="patient_id" value="<%= @patient.id %>">

  <div class="form-group">
    <label for="height">
      Height
    </label>

    <input type="text" id="height" name="height" class="form-control" value="<%= @encounter.height %>">
  </div>
  
  <div class="form-group">
    <label for="weight">
      Weight
    </label>

    <input type="text" id="weight" name="weight" class="form-control" value="<%= @encounter.weight %>">
  </div>
  
  <div class="form-group">
    <label for="blood_pressure">
      Blood Pressure
    </label>

    <input type="text" id="blood_pressure" name="blood_pressure" class="form-control" value="<%= @encounter.blood_pressure %>">
  </div>

  <div class="form-group">
    <label for="temperature">
      Temperature
    </label>

    <input type="text" id="temperature" name="temperature" class="form-control" value="<%= @encounter.temperature %>">
  </div>

  <div class="form-group">
    <label for="chief_complaint">
      Chief complaint
    </label>

    <input type="text" id="chief_complaint" name="chief_complaint" class="form-control" value="<%= @encounter.chief_complaint %>">
  </div>

  <div class="form-group">
    <label for="notes">
      Notes
    </label>

    <input type="text" id="notes" name="notes" class="form-control" value="<%= @encounter.notes %>">
  </div>

  <div class="form-group">
    <label for="location_id">
      Location
    </label>

    <%= select_tag(:location_id, options_from_collection_for_select(Location.all, :id, :name, @encounter.location_id), :include_blank => 'Select a location', :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="provider_id">
      Provider
    </label>

    <%= select_tag(:provider_id, options_from_collection_for_select(Provider.all, :id, :fullname, @encounter.approving_provider_id), :include_blank => 'Select a provider', :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="approving_provider_id">
      Approving provider
    </label>

    <%= select_tag(:approving_provider_id, options_from_collection_for_select(Provider.all, :id, :fullname, @encounter.approving_provider_id), :include_blank => 'Select an approving provider', :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create encounter
  </button>
</form>
