<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All patients
    </h1>

    <a href="/patients/new" class="btn btn-block btn-outline-secondary">
      Add a new patient
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12 mb-3">
    <%= render partial: "patient_templates/patients_search_form" %>
  </div>
</div>



<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          First name
        </th>

        <th>
          Last name
        </th>

        <th>
          Sex
        </th>

        <th>
          Date of Birth
        </th>
        
        <th>
          Age
        </th>

        <th>
          Phone number
        </th>

        <th>
          First seen
        </th>

        <th>
          Last updated
        </th>

        <th>
        </th>
      </tr>

      <% @patients.each do |patient| %>
      <tr>
        
        <td>
          <%= patient.firstname %>
        </td>

        <td>
          <%= patient.lastname %>
        </td>

        <td>
          <% if patient.sex.present? %>
            <a href="/sexes/<%= patient.sex.id %>">
              <%= patient.sex.name %>
            </a>
          <% end %>
        </td>

        <td>
          <%= patient.dob %>
        </td>
        
        <td>
          <%  now = Time.now.utc.to_date %>
          <%= now.year - patient.dob.year - ((now.month > patient.dob.month || (now.month == patient.dob.month && now.day >= patient.dob.day)) ? 0 : 1) %>
        </td>

        <td>
          <%= number_to_phone(patient.phone_num) %>
        </td>

        <td>
          <%= time_ago_in_words(patient.created_at) %> ago
        </td>

        <td>
          <%= time_ago_in_words(patient.updated_at) %> ago
        </td>

        <td>
          <a href="/patients/<%= patient.id %>">
            View patient details
          </a>
        </td>
      </tr>
      <% end %>
    </table>

    <div class="row mb-3">
      <div class="col-md-12">
        <%= paginate @patients, theme: "twitter-bootstrap-4" %>
      </div>
    </div>

  </div>
</div>
