<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All patients
    </h1>

    <a href="/patients/new" class="btn btn-block btn-outline-secondary">
      Add a new patient
    </a>
  </div>
</div>

<!-- Ransack Code start -->

<!-- Ransack Code end -->

<!-- Location Map Code start -->

<!-- Location Map Code end -->

<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Firstname
        </th>

        <th>
          Lastname
        </th>

        <th>
          Sex
        </th>

        <th>
          Dob
        </th>

        <th>
          Phone num
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @patients.each do |patient| %>
      <tr>
        <!-- Display patient.id start -->
        <td>
          <%= patient.id %>
        </td>
        <!-- Display patient.id end -->

        <!-- Display patient.firstname start -->
        <td>
          <%= patient.firstname %>
        </td>
        <!-- Display patient.firstname end -->

        <!-- Display patient.lastname start -->
        <td>
          <%= patient.lastname %>
        </td>
        <!-- Display patient.lastname end -->

        <!-- Display patient.sex_id start -->
        <td>
          <%= patient.sex_id %>
        </td>
        <!-- Display patient.sex_id end -->

        <!-- Display patient.dob start -->
        <td>
          <%= patient.dob %>
        </td>
        <!-- Display patient.dob end -->

        <!-- Display patient.phone_num start -->
        <td>
          <%= patient.phone_num %>
        </td>
        <!-- Display patient.phone_num end -->

        <!-- Display patient.created_at start -->
        <td>
          <%= time_ago_in_words(patient.created_at) %> ago
        </td>
        <!-- Display patient.created_at end -->

        <!-- Display patient.updated_at start -->
        <td>
          <%= time_ago_in_words(patient.updated_at) %> ago
        </td>
        <!-- Display patient.updated_at end -->

        <td>
          <a href="/patients/<%= patient.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
