<% if @patient.present? %>
  <% if @patient.errors.any? %>
    <% @patient.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new patient
</h1>


<hr>

<form action="/create_patient" method="post">

  <div class="form-group">
    <label for="firstname">
      Firstname
    </label>

    <input type="text" id="firstname" name="firstname" class="form-control" value="<%= @patient.firstname %>">
  </div>

  <div class="form-group">
    <label for="lastname">
      Lastname
    </label>

    <input type="text" id="lastname" name="lastname" class="form-control" value="<%= @patient.lastname %>">
  </div>

  <div class="form-group">
    <label for="sex_id">
      Sex
    </label>

    <%= select_tag(:sex_id, options_from_collection_for_select(Sex.all, :id, :name, @patient.sex_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="dob">
      Dob
    </label>

    <input type="text" id="dob" name="dob" class="form-control" value="<%= @patient.dob %>">
  </div>

  <div class="form-group">
    <label for="phone_num">
      Phone num
    </label>

    <input type="text" id="phone_num" name="phone_num" class="form-control" value="<%= @patient.phone_num %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create patient
  </button>
</form>

<hr>

<a href="/patients">
  Go back
</a>
