<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1 style="display:inline"> <%= @patient.firstname %> <%= @patient.lastname %> </h1> <p style="display: inline">| Patient details </p>
    

    <div class="row mb-3">
      <div class="col">
        <a href="/patients" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/patients/<%= @patient.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit patient
        </a>
      </div>

      <div class="col">
        <a href="/delete_patient/<%= @patient.id %>" class="btn btn-block btn-outline-secondary">
          Delete patient
        </a>
      </div>
    </div>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <dl>
      <dt>
        Sex
      </dt>
      <dd>
        <% if @patient.sex.present? %>
          <a href="/sexes/<%= @patient.sex_id %>">
            <%= @patient.sex.name %>
          </a>
        <% end %>
      </dd>

      <dt>
        Date of birth
      </dt>
      <dd>
        <%= @patient.dob %>
      </dd>

      <dt>
        Phone number
      </dt>
      <dd>
        <%= number_to_phone(@patient.phone_num) %>
      </dd>
      <hr>
      <dt>
        First seen
      </dt>
      <dd>
        <%= @patient.created_at.to_date %>
      </dd>

      <dt>
        Last updated
      </dt>
      <dd>
        <%= time_ago_in_words(@patient.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>


<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "patient_templates/patient_encounters" %>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "patient_templates/patient_prescriptions" %>
  </div>
</div>
