<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Encounters at this location (<%= @location.encounters.count%> total)
  </div>

  <ul class="list-group list-group-flush">
    <% @location.encounters.each do |encounter| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <a href="/encounters/<%= encounter.id %>">
          <%= encounter.patient.fullname%>  |  <%= encounter.name %>
        </a>

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="location_encounters_new_form">
        <%= render partial: "location_templates/location_encounters_new_form" %>
      </div>
    </div>

  </ul>
</div>
