<form action="/create_encounter_from_location" method="post">

  <input type="hidden" name="provider_id" value="<%= current_provider.id %>">

  <div class="form-group">
    <label for="patient_id">
      Patient
    </label>

    <%= select_tag(:patient_id, options_from_collection_for_select(Patient.all, :id, :firstname, @encounter.patient_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="chief_complaint">
      Chief complaint
    </label>

    <input type="text" id="chief_complaint" name="chief_complaint" class="form-control" value="<%= @encounter.chief_complaint %>">
  </div>

  <div class="form-group">
    <label for="notes">
      Notes
    </label>

    <input type="text" id="notes" name="notes" class="form-control" value="<%= @encounter.notes %>">
  </div>

  <input type="hidden" name="location_id" value="<%= @location.id %>">

  <div class="form-group">
    <label for="approving_provider_id">
      Approving provider
    </label>

    <%= select_tag(:approving_provider_id, options_from_collection_for_select(Provider.all, :id, :created_at, @encounter.approving_provider_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create encounter
  </button>
</form>
