<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All providers
    </h1>

    <a href="/providers/new" class="btn btn-block btn-outline-secondary">
      Add a new provider
    </a>
  </div>
</div>





<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>

        <th>
          First name
        </th>

        <th>
          Last name
        </th>
        
        <th>
          Credentials
        </th>        

        <th>
          Email
        </th>

        <th>
        </th>
      </tr>

      <% @providers.each do |provider| %>
      <tr>

        <td>
          <%= provider.firstname %>
        </td>

        <td>
          <%= provider.lastname %>
        </td>
        
        <td>
          <% credentials = [] %>
          <% provider.credential_ids.each do |credential| %>
              <% credentials.push(Credential.find(credential).name) %>
          <% end %>
          <%= credentials.join(", ")%>
        </td>

        <td>
          <%= provider.email %>
        </td>

        <td>
          <a href="/providers/<%= provider.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>

    <div class="row mb-3">
      <div class="col-md-12">
        <%= paginate @providers, theme: "twitter-bootstrap-4" %>
      </div>
    </div>

  </div>
</div>
