<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Provider details for <%= @provider.fullname %>
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/providers" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <% if @provider.id == current_provider.id %>
        <div class="col">
          <a href="/providers/edit" class="btn btn-block btn-outline-secondary">
            Edit provider
          </a>
        </div>
      <% else %>
      <% end %>

    </div>

    <dl>
      <dt>
        First name
      </dt>
      <dd>
        <%= @provider.firstname %>
      </dd>

      <dt>
        Last name
      </dt>
      <dd>
        <%= @provider.lastname %>
      </dd>

      <dt>
        Email
      </dt>
      <dd>
        <%= @provider.email %>
      </dd>

    </dl>
  </div>
</div>

<% if @provider.credentials.count > 0 %>
  <div class="row mb-3">
    <div class="col-md-8 offset-md-2">
      <%= render partial: "provider_templates/provider_credentials" %>
    </div>
  </div>
<% else %>
<% end %>


<% if @provider.encounters.count > 0 %>
  <div class="row mb-3">
    <div class="col-md-8 offset-md-2">
      <%= render partial: "provider_templates/provider_encounters" %>
    </div>
  </div>
<% else %>
<% end %>

<% if @provider.prescriptions.count > 0 %>
  <div class="row mb-3">
    <div class="col-md-8 offset-md-2">
      <%= render partial: "provider_templates/provider_prescriptions" %>
    </div>
  </div>
<% else %>
<% end %>

<% if @provider.approved_encounters.count > 0 %>
  <div class="row mb-3">
    <div class="col-md-8 offset-md-2">
      <%= render partial: "provider_templates/provider_approved_encounters" %>
    </div>
  </div>
<% else %>
<% end %>