<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Provider #<%= @provider.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/providers" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/providers/<%= @provider.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit provider
        </a>
      </div>

    </div>

    <dl>
      <dt>
        Firstname
      </dt>
      <dd>
        <%= @provider.firstname %>
      </dd>

      <dt>
        Lastname
      </dt>
      <dd>
        <%= @provider.lastname %>
      </dd>

      <dt>
        Email
      </dt>
      <dd>
        <%= @provider.email %>
      </dd>

      <dt>
        Password
      </dt>
      <dd>
        <%= @provider.password %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@provider.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@provider.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "provider_templates/provider_provider_credentials" %>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "provider_templates/provider_encounters" %>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "provider_templates/provider_prescriptions" %>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "provider_templates/provider_approved_encounters" %>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "provider_templates/provider_credentials" %>
  </div>
</div>
