<%= search_form_for @q, :class => collapse_search_form, :id => "prescriptions_filters" do |f| %>
  <p class="lead">Narrow results:</p>

  <div class="form-group">
    <%= f.label :patient_firstname_cont, "Patient first name" %>
    <%= f.text_field :patient_firstname_cont, :class => "form-control", :placeholder => "Patient first name contains" %>
  </div>


  <div class="form-group">
    <%= f.label :patient_lastname_cont, "Patient last name" %>
    <%= f.text_field :patient_lastname_cont, :class => "form-control", :placeholder => "Patient last name contains" %>
  </div>

  <div class="form-group">
    <%= f.label :medication_name_cont, "Medication" %>
    <%= f.text_field :medication_name_cont, :class => "form-control", :placeholder => "Medication contains" %>
  </div>

  <div class="form-group">
    <%= f.label :med_type_name_cont, "Medication type" %>
    <%= f.text_field :med_type_name_cont, :class => "form-control", :placeholder => "Medication type contains" %>
  </div>

  <div class="form-group">
    <%= f.label :med_type_name_cont, "Medication type" %>
    <%= f.text_field :med_type_name_cont, :class => "form-control", :placeholder => "Medication type contains" %>
  </div>


  <div class="form-group">
    <%= f.label :created_at, "Prescription created on" %>
    <div class="row">
      <div class='col-md-6 mb-1'>
        <div class='input-group date' id='created_atgteqPicker' data-target-input="nearest">
          <%= f.text_field :created_at_gteq, :class => "form-control datetimepicker-input", :placeholder => "Created on date greater than or equal to", :data => {:target => '#created_atgteqPicker'} %>
          <div class="input-group-append" data-target='#created_atgteqPicker' data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>

      <div class='col-md-6'>
        <div class='input-group date' id='created_atlteqPicker' data-target-input="nearest">
          <%= f.text_field :created_at_lteq, :class => "form-control datetimepicker-input", :placeholder => "Created on date less than or equal to", :data => {:target => '#created_atlteqPicker'} %>
          <div class="input-group-append" data-target='#created_atlteqPicker' data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
      $(function () {
          $('#created_atgteqPicker').datetimepicker({
              format: 'YYYY-MM-DD hh:mm:SS'
          });
          $('#created_atlteqPicker').datetimepicker({
              useCurrent: false,
              format: 'YYYY-MM-DD hh:mm:SS'
          });
          $('#created_atgteqPicker').on("dp.change", function (e) {
              $('#created_atlteqPicker').data("DateTimePicker").minDate(e.date);
          });
          $('#created_atlteqPicker').on("dp.change", function (e) {
              $('#created_atgteqPicker').data("DateTimePicker").maxDate(e.date);
          });
      });
  </script>


  <!--<div class="form-group">-->
  <!--  <%= f.label :created_at, "Provider Created at" %>-->
  <!--  <div class="row">-->
  <!--    <div class='col-md-6 mb-1'>-->
  <!--      <div class='input-group date' id='providergteqcreated_atPicker' data-target-input="nearest">-->
  <!--        <%= f.text_field :provider_created_at_gteq, :class => "form-control datetimepicker-input", :placeholder => "Provider Created at greater than or equal to", :data => {:target => '#providergteqcreated_atPicker'} %>-->
  <!--        <div class="input-group-append" data-target='#providergteqcreated_atPicker' data-toggle="datetimepicker">-->
  <!--          <div class="input-group-text"><i class="fa fa-calendar"></i></div>-->
  <!--        </div>-->
  <!--      </div>-->
  <!--    </div>-->

  <!--    <div class='col-md-6'>-->
  <!--      <div class='input-group date' id='providerlteqcreated_atPicker' data-target-input="nearest">-->
  <!--        <%= f.text_field :provider_created_at_lteq, :class => "form-control datetimepicker-input", :placeholder => "Provider Created at less than or equal to", :data => {:target => '#providerlteqcreated_atPicker'} %>-->
  <!--        <div class="input-group-append" data-target='#providerlteqcreated_atPicker' data-toggle="datetimepicker">-->
  <!--          <div class="input-group-text"><i class="fa fa-calendar"></i></div>-->
  <!--        </div>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--  </div>-->
  <!--</div>-->
  <!--<script type="text/javascript">-->
  <!--    $(function () {-->
  <!--        $('#providergteqcreated_atPicker').datetimepicker({-->
  <!--            format: 'YYYY-MM-DD hh:mm:SS'-->
  <!--        });-->
  <!--        $('#providerlteqcreated_atPicker').datetimepicker({-->
  <!--            useCurrent: false,-->
  <!--            format: 'YYYY-MM-DD hh:mm:SS'-->
  <!--        });-->
  <!--        $('#providergteqcreated_atPicker').on("dp.change", function (e) {-->
  <!--            $('#providerlteqcreated_atPicker').data("DateTimePicker").minDate(e.date);-->
  <!--        });-->
  <!--        $('#providerlteqcreated_atPicker').on("dp.change", function (e) {-->
  <!--            $('#providergteqcreated_atPicker').data("DateTimePicker").maxDate(e.date);-->
  <!--        });-->
  <!--    });-->
  <!--</script>-->


  <%= f.submit :class => "btn btn-primary btn-block mb-1" %>

  <a href="/prescriptions" class="btn btn-outline-secondary btn-block mb-1">Clear filters</a>

<% end %>

<a class="btn btn-outline-secondary btn-block mb-1" data-toggle="collapse" href="#prescriptions_filters">
  Show filters
</a>
