<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All prescriptions
    </h1>

    <a href="/prescriptions/new" class="btn btn-block btn-outline-secondary">
      Add a new prescription
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12 mb-3">
    <%= render partial: "prescription_templates/prescriptions_search_form" %>
  </div>
</div>



<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          Patient
        </th>

        <th>
          Medication
        </th>

        <th>
          Instructions
        </th>

        <th>
          Prescribed by
        </th>

        <th>
          Visit
        </th>

        <th>
        </th>
      </tr>

      <% @prescriptions.each do |prescription| %>
      <tr>

        <td>
          <% if prescription.patient.present? %>
            <a href="/patients/<%= prescription.patient.id %>">
              <%= prescription.patient.firstname %> <%= prescription.patient.lastname %>
            </a>
          <% end %>
        </td>

        <td>
          <% if prescription.medication.present? %>
            <a href="/medications/<%= prescription.medication.id %>">
              <%= prescription.medication.name_with_dosage %>
            </a>
          <% end %>
        </td>
        
        <td>
          <%= prescription.instructions %>
        </td>        

        <td>
          <% if prescription.provider.present? %>
            <a href="/providers/<%= prescription.provider.id %>">
              <%= prescription.provider.firstname %> <%= prescription.provider.lastname %>
            </a>
          <% end %>
        </td> 

        <td>
          <% if prescription.encounter.present? %>
            <a href="/encounters/<%= prescription.encounter.id %>">
              <%= prescription.encounter.name %>
            </a>
          <% end %>
        </td>

        <td>
          <a href="/prescriptions/<%= prescription.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>

    <div class="row mb-3">
      <div class="col-md-12">
        <%= paginate @prescriptions, theme: "twitter-bootstrap-4" %>
      </div>
    </div>

  </div>
</div>
