<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All prescriptions
    </h1>

    <a href="/prescriptions/new" class="btn btn-block btn-outline-secondary">
      Add a new prescription
    </a>
  </div>
</div>

<!-- Ransack Code start -->

<!-- Ransack Code end -->

<!-- Location Map Code start -->

<!-- Location Map Code end -->

<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Patient
        </th>

        <th>
          Provider
        </th>

        <th>
          Encounter
        </th>

        <th>
          Medication
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @prescriptions.each do |prescription| %>
      <tr>
        <!-- Display prescription.id start -->
        <td>
          <%= prescription.id %>
        </td>
        <!-- Display prescription.id end -->

        <!-- Display prescription.patient_id start -->
        <td>
          <%= prescription.patient.firstname %>
        </td>
        <!-- Display prescription.patient_id end -->

        <!-- Display prescription.provider_id start -->
        <td>
          <%= prescription.provider.created_at %>
        </td>
        <!-- Display prescription.provider_id end -->

        <!-- Display prescription.encounter_id start -->
        <td>
          <%= prescription.encounter.provider_id %>
        </td>
        <!-- Display prescription.encounter_id end -->

        <!-- Display prescription.medication_id start -->
        <td>
          <%= prescription.medication.name %>
        </td>
        <!-- Display prescription.medication_id end -->

        <!-- Display prescription.created_at start -->
        <td>
          <%= time_ago_in_words(prescription.created_at) %> ago
        </td>
        <!-- Display prescription.created_at end -->

        <!-- Display prescription.updated_at start -->
        <td>
          <%= time_ago_in_words(prescription.updated_at) %> ago
        </td>
        <!-- Display prescription.updated_at end -->

        <td>
          <a href="/prescriptions/<%= prescription.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>

    <div class="row mb-3">
      <div class="col-md-12">
        <%= paginate @prescriptions, theme: "twitter-bootstrap-4" %>
      </div>
    </div>

  </div>
</div>
