<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Prescription #<%= @prescription.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/prescriptions" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/prescriptions/<%= @prescription.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit prescription
        </a>
      </div>

      <div class="col">
        <a href="/delete_prescription/<%= @prescription.id %>" class="btn btn-block btn-outline-secondary">
          Delete prescription
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Patient
      </dt>
      <dd>
        <% if @prescription.patient.present? %>
          <a href="/patients/<%= @prescription.patient_id %>">
            <%= @prescription.patient.firstname %>
          </a>
        <% end %>
      </dd>

      <dt>
        Provider
      </dt>
      <dd>
        <% if @prescription.provider.present? %>
          <a href="/providers/<%= @prescription.provider_id %>">
            <%= @prescription.provider.created_at %>
          </a>
        <% end %>
      </dd>

      <dt>
        Encounter
      </dt>
      <dd>
        <% if @prescription.encounter.present? %>
          <a href="/encounters/<%= @prescription.encounter_id %>">
            <%= @prescription.encounter.provider_id %>
          </a>
        <% end %>
      </dd>

      <dt>
        Medication
      </dt>
      <dd>
        <% if @prescription.medication.present? %>
          <a href="/medications/<%= @prescription.medication_id %>">
            <%= @prescription.medication.name %>
          </a>
        <% end %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@prescription.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@prescription.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

