<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Prescription #<%= @prescription.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/prescriptions" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <!-- Edit link prescription start -->
      <div class="col">
        <a href="/prescriptions/<%= @prescription.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit prescription
        </a>
      </div>
      <!-- Edit link prescription end -->

      <!-- Delete link prescription start -->
      <div class="col">
        <a href="/delete_prescription/<%= @prescription.id %>" class="btn btn-block btn-outline-secondary">
          Delete prescription
        </a>
      </div>
      <!-- Delete link prescription end -->
    </div>

    <dl>
      <dt>
        Patient
      </dt>
      <!-- Display patient_id start -->
      <dd>
        <%= @prescription.patient_id %>
      </dd>
      <!-- Display patient_id end -->

      <dt>
        Provider
      </dt>
      <!-- Display provider_id start -->
      <dd>
        <%= @prescription.provider_id %>
      </dd>
      <!-- Display provider_id end -->

      <dt>
        Encounter
      </dt>
      <!-- Display encounter_id start -->
      <dd>
        <%= @prescription.encounter_id %>
      </dd>
      <!-- Display encounter_id end -->

      <dt>
        Medication
      </dt>
      <!-- Display medication_id start -->
      <dd>
        <%= @prescription.medication_id %>
      </dd>
      <!-- Display medication_id end -->

      <dt>
        Created at
      </dt>
      <!-- Display created_at start -->
      <dd>
        <%= time_ago_in_words(@prescription.created_at) %> ago
      </dd>
      <!-- Display created_at end -->

      <dt>
        Updated at
      </dt>
      <!-- Display updated_at start -->
      <dd>
        <%= time_ago_in_words(@prescription.updated_at) %> ago
      </dd>
      <!-- Display updated_at end -->
    </dl>
  </div>
</div>

<!-- Show Page Customization starts -->
<!-- Show Page Customization end -->
