<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All provider credentials
    </h1>

    <a href="/provider_credentials/new" class="btn btn-block btn-outline-secondary">
      Add a new provider credential
    </a>
  </div>
</div>

<!-- Ransack Code start -->

<!-- Ransack Code end -->

<!-- Location Map Code start -->

<!-- Location Map Code end -->

<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Provider
        </th>

        <th>
          Credential
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @provider_credentials.each do |provider_credential| %>
      <tr>
        <!-- Display provider_credential.id start -->
        <td>
          <%= provider_credential.id %>
        </td>
        <!-- Display provider_credential.id end -->

        <!-- Display provider_credential.provider_id start -->
        <td>
          <%= provider_credential.provider.created_at %>
        </td>
        <!-- Display provider_credential.provider_id end -->

        <!-- Display provider_credential.credential_id start -->
        <td>
          <%= provider_credential.credential_id %>
        </td>
        <!-- Display provider_credential.credential_id end -->

        <!-- Display provider_credential.created_at start -->
        <td>
          <%= time_ago_in_words(provider_credential.created_at) %> ago
        </td>
        <!-- Display provider_credential.created_at end -->

        <!-- Display provider_credential.updated_at start -->
        <td>
          <%= time_ago_in_words(provider_credential.updated_at) %> ago
        </td>
        <!-- Display provider_credential.updated_at end -->

        <td>
          <a href="/provider_credentials/<%= provider_credential.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
