<form action="/create_patient_from_sex" method="post">

  <div class="form-group">
    <label for="firstname">
      Firstname
    </label>

    <input type="text" id="firstname" name="firstname" class="form-control" value="<%= @patient.firstname %>">
  </div>

  <div class="form-group">
    <label for="lastname">
      Lastname
    </label>

    <input type="text" id="lastname" name="lastname" class="form-control" value="<%= @patient.lastname %>">
  </div>

  <input type="hidden" name="sex_id" value="<%= @sex.id %>">

  <div class="form-group">
    <label for="dob">
      Dob
    </label>

    <input type="text" id="dob" name="dob" class="form-control" value="<%= @patient.dob %>">
  </div>

  <div class="form-group">
    <label for="phone_num">
      Phone num
    </label>

    <input type="text" id="phone_num" name="phone_num" class="form-control" value="<%= @patient.phone_num %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create patient
  </button>
</form>
