<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All sexes
    </h1>

    <a href="/sexes/new" class="btn btn-block btn-outline-secondary">
      Add a new sex
    </a>
  </div>
</div>

<!--<div class="row">-->
<!--  <div class="col-md-12 mb-3">-->
<!--    <%= render partial: "sex_templates/sexes_search_form" %>-->
<!--  </div>-->
<!--</div>-->



<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          Name
        </th>

        <th>
          # of patients
        </th>

        <th>
        </th>
      </tr>

      <% @sexes.each do |sex| %>
      <tr>

        <td>
          <%= sex.name %>
        </td>
        
        <td>
          <%= sex.patients.count %>
        </td>

        <td>
          <a href="/sexes/<%= sex.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>

    <div class="row mb-3">
      <div class="col-md-12">
        <%= paginate @sexes, theme: "twitter-bootstrap-4" %>
      </div>
    </div>

  </div>
</div>
